@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@300;

400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main,
section {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

._ibg {
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._ibg_c img {
  -o-object-fit: contain;
     object-fit: contain;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}

.icon-star:before {
  content: "\e901";
}

.icon-pinterest:before {
  content: "\e902";
}

.icon-instagram:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

.icon-user:before {
  content: "\e906";
}

.icon-arrow-down:before {
  content: "\e907";
  color: #030d45;
}

.error-block {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 6;
  font-weight: 700;
}

.error-block span {
  font-size: 18px;
  color: red;
}

[data-spollers] button[data-spoller] {
  width: 100%;
  background-color: white;
  text-align: left;
  display: block;
  cursor: auto;
}

._init [data-spoller] {
  padding: 0px 20px 0px 0px;
  cursor: pointer;
  position: relative;
}

._init [data-spoller]._active::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

._init [data-spoller]._active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

._init [data-spoller]::before,
._init [data-spoller]::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 15px;
  display: inline-block;
  height: 2px;
  background-color: black;
  top: 50%;
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._init [data-spoller]::after {
  right: 4px;
}

._init [data-spoller]::before {
  right: 4px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

._init [data-spoller]:not(._active) {
  margin-bottom: 0px;
}

._init button[data-spoller] {
  cursor: pointer;
}

.tab {
  display: none;
}

.tab.current {
  display: block;
}

/*-------------------------------------------------------
						 Варианты анимации
 ---------------------------------------------------------*/

.transformL {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.transformL._anim,
._anim .transformL {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.transformT {
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
}

.transformT._anim,
._anim .transformT {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.transformR {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.transformR._anim,
._anim .transformR {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.transformB {
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
}

.transformB._anim,
._anim .transformB {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.scale {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.scale._anim,
._anim .scale {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

/*-------------------------------------------------------
						 Варианты анимации конец
 ---------------------------------------------------------*/

.fade {
  opacity: 0;
}

.fade._anim {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

/*-------------------------------------------------------------------
									 Твои классы
 --------------------------------------------------------------------*/

.no-webp .btn{
  background: url("../img/button.png") 0 0/cover no-repeat; }

.btn {
  min-height: 3.6875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 87px 0px 87px;
  border-radius: 1.84375rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 0.875rem;
  position: relative;
  letter-spacing: 0.02em;
  color: white;
  text-transform: uppercase;
  line-height: 1.89;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  left: 0;
  background-color: #03c99c;
  z-index: 1;
  border-radius: 1.84375rem;
}

.text {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #847893;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.81;
  letter-spacing: 0.02em;
  color: #fff;
}

.sub-title {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #8e819e;
}

.circle-picture {
  height: 11.0625rem;
  -webkit-box-shadow: -12.4px -6.6px 18px 0 rgba(0, 0, 0, 0.11);
          box-shadow: -12.4px -6.6px 18px 0 rgba(0, 0, 0, 0.11);
  background-color: #16062a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.circle-picture img {
  max-width: 100%;
  max-height: 80%;
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  background-color: #0e041b;
  font-size: 1.125rem;
}

body._isLocked {
  overflow: hidden;
}

.container {
  max-width: 75rem;
  margin: 0px auto;
  padding: 0px 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

.page__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.page__bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__mainslider {
  padding: 3.125rem 0px 5.9375rem 0px;
}

.page__reviews {
  padding-top: 118px;
  padding-bottom: 80px;
}

.page__numbers {
  padding-top: 233px;
  padding-bottom: 180px;
}

.page__contact {
  padding-top: 158px;
  padding-bottom: 60px;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.mainslider__body {
  position: relative;
  z-index: 2;
}

.mainslider__text {
  text-align: center;
  margin: 0px 0px 1.5625rem 0px;
  position: relative;
  z-index: 3;
}

.mainslider__top-title {
  font-size: 1.375rem;
  letter-spacing: 0.02em;
  color: #75d1c6;
  margin: 0px 0px 20px 0px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.mainslider__title {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0px 0px 0.3125rem 0px;
  line-height: 1.4;
  -webkit-transition: all 0.6s ease 0.3s;
  -o-transition: all 0.6s ease 0.3s;
  transition: all 0.6s ease 0.3s;
}

.mainslider__sub-title {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #bbafca;
  margin: 0px 0px 2.9375rem 0px;
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.mainslider__btn {
  -webkit-transition: all 0.5s ease 0.9s;
  -o-transition: all 0.5s ease 0.9s;
  transition: all 0.5s ease 0.9s;
}

.mainslider__slider-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  position: relative;
  -webkit-transition: all 0.6s ease 1.2s;
  -o-transition: all 0.6s ease 1.2s;
  transition: all 0.6s ease 1.2s;
}

.mainslider__slider-body {
  padding-bottom: 2.5rem;
  position: relative;
}

.mainslider__slider {
  overflow: hidden;
  position: relative;
}

.mainslider__slider .swiper-button-prev,
.mainslider__slider .swiper-button-next {
  display: none;
}

.mainslider__slide {
  padding: 0px 0px 70.3656998739% 0px;
}

.mainslider__slide img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.mainslider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainslider__scroll {
  background-color: #3e3649;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21.0625rem;
          flex: 0 0 21.0625rem;
  height: 4px;
  width: 17.5rem;
  max-width: 600px;
  cursor: -webkit-grab;
  cursor: grab;
}

.mainslider__scroll .swiper-scrollbar-drag {
  background-color: #12608e;
  opacity: 1;
  width: 6.9375rem;
}

.mainslider__pagination {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.125rem;
          flex: 0 0 3.125rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.02em;
}

.mainslider__pagination span.swiper-pagination-current {
  color: #77d4c2;
}

.mainslider__pagination span.swiper-pagination-total {
  color: white;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.purchase__body {
  position: relative;
  z-index: 2;
  padding-top: 67px;
  padding-bottom: 75px;
}

.purchase__body::after,
.purchase__body::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #c2c2c2;
  opacity: 0.05;
  -webkit-transform: scale(1.1, 1);
      -ms-transform: scale(1.1, 1);
          transform: scale(1.1, 1);
}

.purchase__body::after {
  bottom: 0;
}

.purchase__body::before {
  top: 0;
}

.purchase__title {
  text-align: center;
  margin: 0px 0px 0.625rem 0px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.purchase__sub-title {
  text-align: center;
  margin: 0px 0px 3.75rem 0px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.purchase__row {
  max-width: 68.125rem;
  margin: 0 auto;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 25px;
  margin-bottom: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.purchase__row > *:first-child {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.purchase__row > *:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

.purchase__row > *:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.9s;
  -o-transition: all 0.5s ease 0.9s;
  transition: all 0.5s ease 0.9s;
}

.purchase__row > *:nth-child(4) {
  -webkit-transition: all 0.5s ease 1.2s;
  -o-transition: all 0.5s ease 1.2s;
  transition: all 0.5s ease 1.2s;
}

.purchase__row > *:nth-child(5) {
  -webkit-transition: all 0.5s ease 1.5s;
  -o-transition: all 0.5s ease 1.5s;
  transition: all 0.5s ease 1.5s;
}

.purchase__column {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17.4311926606%;
          flex: 0 1 17.4311926606%;
}

.purchase__btn {
  text-align: center;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.purchase-item__picture {
  margin: 0px 0px 32px 0px;
  position: relative;
}

.purchase-item__number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem;
  width: 2.0625rem;
  height: 2.0625rem;
  background-color: #12608e;
  color: white;
  top: 4%;
  left: 20%;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: 600;
}

.purchase-item__title {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: white;
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.purchase-item__text {
  text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.preview {
  position: relative;
}

.preview::before {
  content: "";
  position: absolute;
  height: 957px;
  width: 957px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #0e041b;
  z-index: 2;
  bottom: 10px;
  border-radius: 50%;
  left: -735px;
}

.preview::after {
  content: "";
  width: 655px;
  display: block;
  border-radius: 50%;
  height: 655px;
  z-index: 2;
  background-color: #0e041b;
  position: absolute;
  bottom: 0;
  right: -421px;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.preview__body {
  position: relative;
  z-index: 3;
  padding-bottom: 80px;
  padding-top: 85px;
  max-width: 82.5rem;
}

.preview__body::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #c2c2c2;
  opacity: 0.05;
  -webkit-transform: scale(0.98, 1);
      -ms-transform: scale(0.98, 1);
          transform: scale(0.98, 1);
  left: 0;
  bottom: 0;
}

.preview__title {
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.preview__sub-title {
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 0px 0px 3.125rem 0px;
}

.preview__row {
  position: relative;
  z-index: 3;
}

.preview__text-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.488372093%;
          flex: 0 0 43.488372093%;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.preview__text-wrapper {
  -webkit-box-shadow: 0px 15px 30px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 30px 10px rgba(0, 0, 0, 0.15);
  background-color: #16062a;
  padding: 50px 40px 50px 40px;
  border-radius: 1.25rem;
}

.preview__text-body {
  -webkit-box-shadow: 0px 15px 30px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 30px 10px rgba(0, 0, 0, 0.15);
  background-color: #13091f;
  padding: 21px 29px;
}

.preview__text-body h2 {
  letter-spacing: 0.02em;
  font-size: 1.125rem;
  margin: 0px 0px 10px 0px;
  color: #b9acc9;
}

.preview__text-body p:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.preview__text-body > *:last-child {
  margin-bottom: 0px;
}

.preview__human-picture {
  position: absolute;
  width: 37.6114081996%;
  padding: 0px 0px 58% 0px;
  bottom: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translate(55%, 15%) !important;
      -ms-transform: translate(55%, 15%) !important;
          transform: translate(55%, 15%) !important;
  -webkit-transition: all 0.8s ease 1.3s;
  -o-transition: all 0.8s ease 1.3s;
  transition: all 0.8s ease 1.3s;
}

.preview__human-picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview__icons-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43.488372093%;
          flex: 0 1 43.488372093%;
}

.preview__icons-col > *:last-child {
  margin-bottom: 0px;
}

.preview__items > *:not(:last-child) {
  margin-bottom: 47px;
}

.preview__items > *:first-child {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.preview__items > *:nth-child(2) {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.preview__items > *:nth-child(3) {
  -webkit-transition: all 0.6s ease 0.9s;
  -o-transition: all 0.6s ease 0.9s;
  transition: all 0.6s ease 0.9s;
}

.preview__items > *:nth-child(4) {
  -webkit-transition: all 0.6s ease 1.2s;
  -o-transition: all 0.6s ease 1.2s;
  transition: all 0.6s ease 1.2s;
}

.preview__items > *:nth-child(5) {
  -webkit-transition: all 0.6s ease 1.5s;
  -o-transition: all 0.6s ease 1.5s;
  transition: all 0.6s ease 1.5s;
}

.item-preview__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-preview__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 177px;
          flex: 0 0 177px;
  height: 177px;
}

.item-preview__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 44px;
}

.item-preview__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0px 0px 5px 0px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.reviews__body {
  position: relative;
  z-index: 3;
}

.reviews__title {
  text-align: center;
  margin: 0px 0px 10px 0px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.reviews__subtitle {
  text-align: center;
  margin-bottom: 60px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.reviews__row > *:first-child {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.reviews__row > *:nth-child(2) {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.reviews__row > *:nth-child(3) {
  -webkit-transition: all 0.6s ease 0.9s;
  -o-transition: all 0.6s ease 0.9s;
  transition: all 0.6s ease 0.9s;
}

.reviews__review:not(:last-child) {
  margin-bottom: 30px;
}

.single-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-review__body {
  padding: 26px 40px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #1d1e45;
}

.single-review__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 104px;
          flex: 0 0 104px;
  width: 104px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
}

.single-review__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-review__person-name {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 0px 0px 5px 0px;
}

.single-review__person-country {
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin: 0px 0px 30px 0px;
  color: #069;
  text-transform: uppercase;
  text-align: center;
}

.single-review__text {
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 0px 35px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.single-review__label {
  text-align: center;
  font-size: 0.5rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.32);
  margin: 0px 0px 10px 0px;
}

.single-review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  row-gap: 10px;
}

.single-review__stars > li > span {
  cursor: pointer;
}

.single-review__stars > li > span::before {
  font-size: 1.25rem;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: black;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.no-webp .numbers{
  background: url("../img/Numbers/bg.png") 0 0/cover no-repeat; }

.numbers {
  position: relative;
  z-index: 2;
}

.numbers__body {
  position: relative;
  z-index: 3;
  text-align: center;
}

.numbers__body > *:last-child {
  margin-bottom: 0px;
}

.numbers__title {
  font-size: 6.25rem;
  font-weight: 600;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0px 0px 10px 0px;
}

.numbers__subtitle {
  font-weight: 300;
  margin: 0px 0px 30px 0px;
  letter-spacing: 0.02em;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #fdfcff;
}

.numbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.numbers__list > *:first-child {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.numbers__list > *:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

.numbers__list > *:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.9s;
  -o-transition: all 0.5s ease 0.9s;
  transition: all 0.5s ease 0.9s;
}

.numbers__list > *:nth-child(4) {
  -webkit-transition: all 0.5s ease 1.2s;
  -o-transition: all 0.5s ease 1.2s;
  transition: all 0.5s ease 1.2s;
}

.numbers__list > *:nth-child(5) {
  -webkit-transition: all 0.5s ease 1.5s;
  -o-transition: all 0.5s ease 1.5s;
  transition: all 0.5s ease 1.5s;
}

.numbers__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  border-radius: 50%;
  height: 1.5rem;
  background-color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.numbers__link::before {
  font-size: 1.0625rem;
  color: #256691;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.numbers__bg {
  position: absolute !important;
  z-index: 1;
  width: 40.5391394505%;
  padding: 0px 0px 26% 0px;
  right: 0;
  top: 50%;
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.numbers__bg._anim {
  opacity: 1;
  -webkit-transform: scale(1) translate(20%, -50%);
      -ms-transform: scale(1) translate(20%, -50%);
          transform: scale(1) translate(20%, -50%);
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.book-preview__body {
  position: relative;
  z-index: 3;
  padding-top: 150px;
  padding-bottom: 83px;
  max-width: 82.5rem;
  position: relative;
}

.book-preview__body::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #c2c2c2;
  opacity: 0.05;
  -webkit-transform: scale(0.98, 1);
      -ms-transform: scale(0.98, 1);
          transform: scale(0.98, 1);
  left: 0;
  bottom: 0;
}

.book-preview__picture-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54.5299145299%;
          flex: 0 0 54.5299145299%;
}

.book-preview__picture {
  padding: 0px 0px 82.4127906977% 0px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  margin: 0px 0px 30px 0px;
}

.book-preview__text-col {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.book-preview__text-col > *:last-child {
  margin-bottom: 0;
}

.book-preview__title {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 10px;
}

.book-preview__text {
  margin-bottom: 20px;
}

.book-preview__author {
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 45px;
}

.book-preview__author a {
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
  font-weight: bold;
  color: inherit;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact__body {
  position: relative;
  z-index: 3;
}

.contact__title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  margin: 0px 0px 45px 0px;
  color: #fff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.contact__form {
  max-width: 55.6875rem;
  margin: 0 auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 767.98px) {
  .mainslider__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mainslider__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.9829059829%;
            flex: 0 0 45.9829059829%;
    margin: 0px 0px 0px 0px;
    text-align: left;
  }

  .mainslider__slider-col {
    -webkit-transform: scale(1.2, 1);
        -ms-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }

  .mainslider__controls {
    padding-right: 2.5rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .preview__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 75px;
       -moz-column-gap: 75px;
            column-gap: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }

  .reviews__review {
    padding: 0 15px;
    min-width: 15rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
  }

  .reviews__review:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (min-width: 991.98px) {
  .purchase__row > *:not(:last-child) .purchase-item__picture::before {
    content: "";
    width: 39.5480225989%;
    height: 0.125rem;
    opacity: 0.15;
    background-color: #1b8bcc;
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    -webkit-transform: translate(15px, -50%);
        -ms-transform: translate(15px, -50%);
            transform: translate(15px, -50%);
  }

  .book-preview__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .book-preview__picture {
    margin: 0px 0px 0px 0px;
    -webkit-transform: translate(-67px, 0px);
        -ms-transform: translate(-67px, 0px);
            transform: translate(-67px, 0px);
  }

  .book-preview__text-col {
    padding-right: 1.25rem;
  }
}

@media (min-width: 1212px) {
  .preview__row {
    padding-right: 6.25rem;
  }
}

@media (max-width: 1200px) {
  .page__reviews {
    padding-top: calc(
        60px + 58 *
          ((100vw - 320px) / (880))
      );
  }

  .page__reviews {
    padding-bottom: calc(
        60px + 20 *
          ((100vw - 320px) / (880))
      );
  }

  .page__numbers {
    padding-top: calc(
        120px + 113 *
          ((100vw - 320px) / (880))
      );
  }

  .page__numbers {
    padding-bottom: calc(
        120px + 60 *
          ((100vw - 320px) / (880))
      );
  }

  .page__contact {
    padding-top: calc(
        120px + 38 *
          ((100vw - 320px) / (880))
      );
  }

  .purchase__row {
    margin-bottom: calc(
        40px + 37 *
          ((100vw - 320px) / (880))
      );
  }

  .reviews__subtitle {
    margin-bottom: calc(
        40px + 20 *
          ((100vw - 320px) / (880))
      );
  }

  .book-preview__body {
    padding-top: calc(
        80px + 70 *
          ((100vw - 320px) / (880))
      );
  }
}

@media (max-width: 991.98px) {
  .btn {
    padding: 0px 37px 0px 37px;
  }

  .page__mainslider {
    padding: 2.5rem 0px 3.4375rem 0px;
  }

  .mainslider__title {
    font-size: 2.25rem;
  }

  .mainslider__sub-title {
    margin: 0px 0px 1.6875rem 0px;
  }

  .mainslider__scroll {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.8125rem;
            flex: 0 0 14.8125rem;
  }

  .purchase__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .purchase__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 15px);
            flex: 0 1 calc(50% - 15px);
  }

  .purchase-item__picture {
    width: 52%;
    margin: 0 auto;
    min-width: 11.25rem;
    margin-bottom: 20px;
  }

  .preview__text-wrapper {
    padding: 30px 20px;
  }

  .preview__text-body {
    padding: 15px;
  }

  .preview__icons-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .preview__items > *:not(:last-child) {
    margin-bottom: 27px;
  }

  .item-preview__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    height: 140px;
  }

  .item-preview__text {
    padding: 0px 0px 0px 20px;
  }

  .single-review__body {
    padding: 15px;
  }

  .numbers__title {
    font-size: 2.875rem;
  }
}

@media (max-width: 767.98px) {
  .page {
    padding: 60px 0px 0px 0px;
  }

  .mainslider__slider-body {
    padding-bottom: 0.625rem;
  }

  .mainslider__slide {
    padding: 0px 0px 84% 0px;
  }

  .mainslider__scroll {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .purchase__sub-title {
    margin: 0px 0px 2.5rem 0px;
  }

  .preview__text-col {
    margin-bottom: 20px;
  }

  .preview__text-col {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .preview__human-picture {
    display: none;
  }

  .numbers__bg {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .purchase__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .item-preview__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .item-preview__icon {
    width: 177px;
    margin: 0 auto;
  }

  .item-preview__text {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
}

@media (any-hover: hover) {
  .btn:hover::before {
    width: 100%;
  }

  .single-review__stars > li:hover > span::before {
    color: #ffcc00;
  }

  .single-review__stars > li:hover ~ li > span::before {
    color: #ffcc00;
  }

  .numbers__link:hover::before {
    color: coral;
  }

  .book-preview__author a:hover {
    color: coral;
  }
}

.webp .btn{ background: url(../img/button.webp) 0 0/cover no-repeat; }

.webp .numbers{ background: url(../img/Numbers/bg.webp) 0 0/cover no-repeat; }